<!--<h1>{{title}}</h1>-->
<!--<nav>-->
<!--    <a routerLink="/dashboard">Dashboard</a>-->
<!--    <a routerLink="/heroes">Heroes</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<!--<app-messages></app-messages>-->

<div class="root-page">
    <mat-grid-list cols="1" rowHeight="100%" gutterSize="5px">
        <mat-grid-tile>
            <mat-grid-tile-header style="height: 10%;">

            </mat-grid-tile-header>
            <div class="mat-grid-tile-body">
                <div class="left">1</div>
                <div class="middle">2</div>
                <div class="right">3</div>
            </div>
            <mat-grid-tile-footer style="height: 15%;">

            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>
