/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
}
h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #334953;
}
nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
}
nav a.active {
    color: #039be5;
}

html, body {
    height: 100%;
}

.root-page {
    height: 100%;
}

.mat-grid-tile-body {
    background-color: tomato;
    width: 100%;
    height: 75%;
    margin-top: -2.6%;
    position: absolute;
}
.mat-grid-tile-body .left{
    background-color: #0a73bb;
    float: left;
    height: 100%;
    width: 10%;
}
.mat-grid-tile-body .right{
    background-color: #00aa00;
    height: 100%;
    width: 20%;
}
.mat-grid-tile-body .middle{
    float: left;
    background-color: #1c7430;
    height: 100%;
    width: 70%;
}