<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{ 'global.register' | translate}}</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'global.username' | translate }}">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'global.email' | translate }}">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="{{ 'global.password' | translate }}">
                </mat-form-field>
            </mat-card-content>

            <button mat-button class="btn-block">{{ 'global.register' | translate}}</button>

        </form>
    </mat-card>
</div>