<div class="middle-question-category">
    <span class="title">Đi đố</span>
    <span class="description">đi để bị đố, đố để bị đi</span>
</div>
<div class="middle-question-content">
    <div class="content-question">
        <img src="/assets/imgs/hand-two-finger.svg">
        <span class="">Câu đố X1: Bạn biết câu hỏi đang hỏi gì không?</span>
    </div>
    <div class="content-answer">
        
    </div>
    <div class="content-button">
        <button class="previous-question" mat-flat-button>{{"main-content.previous-button" | translate}}</button>
        <button class="next-question" mat-flat-button>{{"main-content.next-button" | translate}}</button>
    </div>
</div>
