<div class="overlay" *ngIf="loading"></div>
<div class="main-content" [ngStyle]="{'background-image': 'url(/assets/imgs/loading2.svg)'}" *ngIf="loading"></div>
<div *ngIf="quizz" class="middle-question-category">
    <span class="title">{{categoryTitle}}</span>
    <span class="description">{{categoryDescription}}</span>
</div>
<div *ngIf="question" class="middle-question-content">
    <div class="content-question">
        <img src="/assets/imgs/hand-two-finger.svg">
        <span class="">{{question.content}}</span>
    </div>
    <div class="content-answer">
        <mat-card>
            <mat-card-content>
                <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="answer-radio-group"
                        [(ngModel)]="question.id">
                    <mat-radio-button class="answer-radio-button" *ngFor="let answer of answers" [value]="answer">
                    <span class="wrap-mat-radio-label">
                        {{ answer.content }}
                    </span>
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content-button">
        <button *ngIf="questionsOrder !== 0" class="previous-question" mat-flat-button (click)="goPriviousQuestion()">{{"main-content.previous-button" | translate}}</button>
        <button *ngIf="questionsOrder != questions.length-1" class="next-question " mat-flat-button (click)="goNextQuestion()">{{"main-content.next-button" | translate}}</button>
        <button *ngIf="questionsOrder == questions.length-1" class="check-all-question " mat-flat-button (click)="checkAllQuestions()">{{"main-content.check-answer-button" | translate}}</button>
    </div>
</div>

