<div *ngIf="errorMsg"><h3 style="color: red">{{errorMsg}}</h3></div>
<h1 mat-dialog-title class="gift-header">{{"result.download-prize" | translate}}</h1>
<div mat-dialog-content class="gift-download-link">
    <a (click)="download()">{{"result.download-prize-content" | translate}}</a>
</div>
<div class="result-action-button" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{"result.stop-play" | translate}}</button>
    <button mat-button (click)="onContinuePlay()">{{"result.continue-play" | translate}}</button>
</div>