<mat-grid-list cols="1" rowHeight="100%" gutterSize="5px">
    <mat-grid-tile>
        <mat-grid-tile-header class="grid-tile-header">
            <app-app-bar-header></app-app-bar-header>
        </mat-grid-tile-header>
        <div class="mat-grid-tile-body">
            <div class="left">
                <div *ngIf="currentUser">
                    <h1>Hi {{currentUser.username}}!</h1>
                    <p>You're logged in with Angular 8!!</p>
                    <h3>All registered users:</h3>
                    <ul>
                        <li *ngFor="let user of users">
                            {{user.username}}
                            - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="middle scrollbar">
                <app-quizzes *ngIf="quizzesPage"></app-quizzes>
                <app-questions *ngIf="questionsPage"></app-questions>
            </div>
            <div class="right"></div>
        </div>
        <mat-grid-tile-footer class="grid-tile-footer">

        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>